:root {
    --primary-color: #00904A;
}

#edit-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    background-color: #e5e5e5;
    padding-top: 100px;
}

.popUpEditDay {
    /*display: flex;*/
    display: none;
    flex-direction: column;
    text-align: center;
    padding-top: 50px;
    height: 52vh;
    width: 340px;
    margin: 0 auto;
    background-color: white;
    position: relative;
}

    .popUpEditDay p {
        text-align: left;
        padding: 25px 0px 0px 30px;
    }

    .popUpEditDay strong {
        color: var(--primary-color);
    }

.changeAvailabilityTime {
    font-size: 20px;
    color: var(--primary-color);
}

.popUpEditDayDate {
    color: var(--primary-color);
}

.popUpEditDayDate2 {
    color: var(--primary-color);
    margin-bottom: 2rem;
}

.closeOverlay {
    font-size: 2.5rem;
    font-weight: 800;
    color: black;
    top: -5px;
    right: 16px;
    position: absolute;
}

    .closeOverlay:active {
        text-decoration: none;
    }

.form-row {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    padding: 0px 30px;
    margin-bottom: 2rem;
}

.form-group {
    text-align: left;
}

.popUpChooseDays {
    color: var(--primary-color);
    margin-bottom: -0.5rem;
    font-size: 18px;
}

.popUpCalendar2 {
    display: none;
    flex-direction: column;
    text-align: center;
    padding: 50px 10px 20px 10px;
    width: 340px;
    margin: 0 auto;
    background-color: white;
    position: relative;
}

.saveButton {
    padding: 0.5rem 2.5rem;
}
