.tripCardDone {
    /*border: 2px solid transparent;*/
    border-left-width: 10px;
    border-left-style: solid;
    border-left-color: transparent;
    border-left-color: dimgrey;
    border-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 5px 10px;
    background-color: #fff;
    margin-bottom: 20px;
    filter: drop-shadow(0pt 3pt 6pt #00000029);
}

.tripCardActive {
    /*border: 2px solid transparent;*/
    border-left-width: 10px;
    border-left-style: solid;
    border-left-color: transparent;
    border-left-color: green;
    border-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 5px 10px;
    background-color: #fff;
    margin-bottom: 20px;
    filter: drop-shadow(0pt 3pt 6pt #00000029);
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}