.form-check {
    margin: 0;
}

.settings-icon {
    color: #00904A;
    font-size: 2rem;
}

.settings-text {
    font-size: 1.2rem;
    padding: 0;
}

.remove-gutters {
    --bs-gutter-x: 0;
}

.form-switch .form-check-input {
    width: 4em;
    height: 2em;
    margin-left: -3.5em;
    margin-top: 0;
}

.seperator {
    background-color: #00904A;
    opacity: 1;
}

.logout-btn {
    margin: 0 auto;
    font-size: 1.3rem;
    color: #00904A;
}
