/*@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight:500;
    text-decoration: none;
}
:root {
    --primary-color: #00904A;
}
::selection {
    background: var(--primary-color);
    color:White
}

ul, ol {
    margin: 0;
    padding: 0;
}
hr {
    border-radius: 10px;
    width: 99%
}
.fas{
    padding: 0 1rem;
    text-align:left
}
.assgnmt-details-icon-fix {
    position: relative;
    bottom: -5px;
    width: 60px;
    text-align: center;
}

main {
    padding-top:85px;
}

/* Bootstrap edits start*/
.nav-tabs .nav-link.active {
    color: #000;
    background-color: #fff;
    border-color: var(--primary-color) var(--primary-color) #fff;
}
.nav-tabs .nav-link {
    border: 2px solid transparent;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
.modal{
    top:25vh;
}
.modal-body a {
    text-decoration: underline;
    color: var(--primary-color);
}


/* Bootstrap edits end*/

/* Top navigation */
.top-nav {
    top:0;
    left:0;
    padding: 6px 12px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    position: fixed;
    z-index: 99;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 250ms;
}

.sidenav a {
    padding: 2rem 2rem;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: var(--primary-color);
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 36px;
    margin-right: 50px;
}

.top-nav-logo img{
    width: 65px;
}

.top-nav-menu ul {
    list-style: none;
    display: flex;
}

.top-nav-menu li a {
    padding: 0 6px;
    color: #000;
}

.top-nav-menu li a i {
    font-size: 1.5rem;
    margin: 5px 0 0 5px;
}


/* Login page */
.box-shadow {
    /*box-shadow: 0px 1px 5px 0px;*/
    box-shadow: 0px 0px 10px -3px;
}

.sign-up-link {
    color: #28a745;
    text-decoration: underline;
    font-weight: 600;
}

.btn-help {
    background-color: #005140;
    color: #fff;
}

.signin {
    background-color: #00904A;
    border-color: #00904A;
    color: #fff;
}

.logo img {
    width: 100px;
    margin: 50px auto 0 auto;
    display: block;
}

.login-bg-wrapper {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.login-bg {
    position: absolute;
    top: -2.5vw;
    left: -2.5vw;
    z-index: -1;
    min-height: 105vh;
    width: 105vw;
    background-image: url(../img/login-bg.png);
    /*filter: blur(4px);*/
    opacity: .175;
    background-repeat: no-repeat;
    background-size: 100%;
}

.login-footer {
    display: flex;
    justify-content: space-between;
}

.vertical-spacing {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 75.5vh;
}

.signup {

}

/* HOME */

.h-full {
    /*padding-top: 60px;*/
    min-height: calc(100vh - 146px );
}

ul.home-nav {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 225px;
}

ul.home-nav li {
    text-align: center;
    margin: 26px 0;
}

ul.home-nav li a {
    background-color: #EAEAEA;
    color: #000;
    display: block;
    padding: 9px 0;
    border-radius: 5px;
    font-weight: 700;
    font-size: 1.4rem;
}

.newsfeed {
    background-color: #00904A;
    color:#fff;
    padding:45px 15px;
}



/* My trips */

.pageback {
    color: #000;
    font-size:1.5rem;
}

.trip-card {
    margin: 18px auto;
    padding: 4px 12px;
    background: #eaeaea;
    width: 80%;
    border-radius: 5px;
    border: 5px solid transparent;
    border-left-color: green;
    box-shadow: 0px 0px 3px 0px #888888;
}

.trip-card h1 {
    font-size: 1.4rem;
}

.trip-card > h1 {
    text-transform: capitalize;
}


.trip-card p {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
    line-height: 20px;
}

.trip-card p:last-of-type {
    margin-top: 5px;
    font-weight: 700;
}



/* FOOTER */
.socials {
    background-color: #00904A;
    height: 60px;
}

.socials a {
    font-size:1.8rem;
    color: #FFF;
}

.footer-logo {
    background-color: #fff;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    padding: 3px;
    object-fit: contain;
}

/*Details*/
.infoBox {
    margin: 3rem 0;
    padding: 1.5rem 1.5rem;
    background-color: #fff;
    margin-bottom: 20px;
    filter: drop-shadow(0pt 3pt 6pt #00000029);
}
.infoBox a {
        text-decoration: underline;
        color: var(--primary-color);
}
    .infoBox a,p,span {
        font-size: 1rem;
        text-align:left;
    }

/*.infoBoxGrid3 {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    justify-items: start;
}*/

.infoBoxGrid2 {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: baseline;
}

.cancelTrip {
    font-size: 2rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-content: center;
}
.cancelTrip button {
    font-size:1.5rem;
    color: var(--primary-color);
    background: none;
    border: none;
}