* {
    box-sizing: border-box;
}

ul, ol {
    margin: 0;
    padding: 0;
}

main {
    padding-top:85px;
}

/* Top navigation */
.top-nav {
    padding: 6px 12px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    position: fixed;
    z-index: 99;
}

.top-nav-logo img{
    width: 65px;
}

.top-nav-menu ul {
    list-style: none;
    display: flex;
}

.top-nav-menu li a {
    padding: 0 6px;
    color: #000;
}

.top-nav-menu li a i {
    font-size: 1.5rem;
    margin: 5px 0 0 5px;
}


/* Login page */
.box-shadow {
    /*box-shadow: 0px 1px 5px 0px;*/
    box-shadow: 0px 0px 10px -3px;
}

.sign-up-link {
    color: #28a745;
    text-decoration: underline;
    font-weight: 600;
}

.btn-help {
    background-color: #005140;
    color: #fff;
}

.signin {
    background-color: #00904A;
    border-color: #00904A;
    color: #fff;
}

.logo img {
    width: 100px;
    margin: 50px auto 0 auto;
    display: block;
}

.login-bg-wrapper {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.login-bg {
    position: absolute;
    top: -2.5vw;
    left: -2.5vw;
    z-index: -1;
    min-height: 105vh;
    width: 105vw;
    background-image: url(../img/login-bg.png);
    /*filter: blur(4px);*/
    opacity: .175;
    background-repeat: no-repeat;
    background-size: 100%;
}

.login-footer {
    display: flex;
    justify-content: space-between;
}

.vertical-spacing {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 75.5vh;
}

.signup {

}

/* HOME */

.h-full {
    /*padding-top: 60px;*/
    min-height: calc(100vh - 146px );
}

ul.home-nav {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 225px;
}

ul.home-nav li {
    text-align: center;
    margin: 26px 0;
}

ul.home-nav li a {
    background-color: #EAEAEA;
    color: #000;
    display: block;
    padding: 9px 0;
    border-radius: 5px;
    font-weight: 700;
    font-size: 1.4rem;
}

.newsfeed {
    background-color: #00904A;
    color:#fff;
    padding:45px 15px;
}



/* My trips */

.pageback {
    color: #000;
    font-size:1.5rem;
}

.trip-card {
    margin: 18px auto;
    padding: 4px 12px;
    background: #eaeaea;
    width: 80%;
    border-radius: 5px;
    border: 5px solid transparent;
    border-left-color: green;
    box-shadow: 0px 0px 3px 0px #888888;
}

.trip-card h1 {
    font-size: 1.4rem;
}

.trip-card > h1 {
    text-transform: capitalize;
}


.trip-card p {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
    line-height: 20px;
}

.trip-card p:last-of-type {
    margin-top: 5px;
    font-weight: 700;
}



/* FOOTER */
.socials {
    background-color: #00904A;
    height: 60px;
}

.socials a {
    font-size:1.8rem;
    color: #FFF;
}

.footer-logo {
    background-color: #fff;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    padding: 3px;
    object-fit: contain;
}