<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AAO Rekrutteringsapp</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/card.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />

    
</head>
<body>
    <header>
        <nav class="top-nav">
            <div class="top-nav-logo">
                <img src="https://www.alex-andersen.dk/cdn/assets/aalogo-square.db4301db.png" alt="Logo" />
            </div>

            <div class="top-nav-menu">
                <ul>
                    <li><a href="#"><i class="fas fa-user"></i></a></li>
                    <li><a asp-action="Settings"><i class="fas fa-cog"></i></a></li>
                    <partial name="_LoginPartial" />
                </ul>
            </div>

        </nav>
    </header>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container socials d-flex justify-content-between align-items-center">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><img src="https://www.alex-andersen.dk/cdn/assets/aalogo-square.db4301db.png" class="footer-logo" alt="Logo"></a>
            <a href="#"><i class="fas fa-user-friends"></i></a>
        </div>

    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/calendar.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
