@{
    Layout = "_SubpageLayout";
 }

<div id="calendar1"></div>

<div id="edit-overlay">


    <div class="popUpEditDay">
        <a class="closeOverlay" asp-area="" asp-controller="Home" asp-action="Calendar">&times;</a>
        <h4 class="popUpEditDayDate">Dato skal ind her</h4> 
        <p><strong>Status:</strong> Ledig hele dagen </p>
        <div class="changeAvailabilityTime">
            <p><strong>Ændre dit tidsrum</strong></p>
            <div class="form-row">
                <div class="form-group col">
                    <label for="inputFrom">Fra</label>
                    <input type="time" class="form-control mr-2" id="inputFrom">
                </div>
                <div class="form-group col">
                    <label for="inputTo">Til</label>
                    <input type="time" class="form-control" id="inputTo">
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <button class="btn btn-danger form-control  btn-block" onclick="confirm('Er du sikker på at du vil afmelde din rådighed?')">Afmeld</button>
                    </div>
                    <div class="col">
                        <button id="btnSubmit" class="btn btn-success form-control btn-block" type="submit">Gem</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="popUpCalendar2">
        <a class="closeOverlay" asp-area="" asp-controller="Home" asp-action="Calendar">&times;</a>
        <h4 class="popUpEditDayDate2">Vælg periode eller datoer</h4>
        <div class="form-row">
            <div class="form-group col-6">
                <label for="inputFrom">Fra</label>
                <input type="date" class="form-control" id="inputFrom">
            </div>
            <div class="form-group col-6">
                <label for="inputTo">Til</label>
                <input type="date" class="form-control" id="inputTo">
            </div>
        </div>
        @*<p class="popUpChooseDays"><strong>Vælg dage:</strong></p>*@

        <div id="calendar2"></div>

        <div class="col">
            <button id="btnSubmit" class="btn btn-success btn-lg saveButton" type="submit">Gem</button>
        </div>
    </div>
</div>

