@{
    ViewData["Title"] = "Home";
}

<div class="h-full d-flex flex-column justify-content-between">
    <div class="row">
        <div class="col-12">
            <ul class="home-nav">
                <li><a href="#">Available trips</a></li>
                <li><a asp-area="" asp-controller="Assignment" asp-action="MyTrips">My trips</a></li>
                <li><a asp-contorller="Home" asp-action="Calendar">Calendar</a></li>
                <li><a href="#">Messages</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-12 newsfeed">
            <h2>Newsfeed</h2>
            <p>Feed feed feed. Reported.</p>
        </div>
    </div>
</div>

