@{
    ViewData["Title"] = "Home";
}
<nav class="top-nav">
    <div class="top-nav-logo">
        <a asp-area="" asp-controller="Home" asp-action="Index"><img src="https://www.alex-andersen.dk/cdn/assets/aalogo-square.db4301db.png" alt="Logo" /></a>
    </div>

    <div class="top-nav-menu">
        <ul>
            <li><a href="#"><i class="fas fa-user"></i></a></li>
            <li><a href="#"><i class="fas fa-cog"></i></a></li>
        </ul>
    </div>
</nav>
<div class="h-full d-flex flex-column justify-content-between">
    <div class="row">
        <div class="col-12">
            <ul class="home-nav">
                <li><a href="#">Available trips</a></li>
                <li><a asp-area="" asp-controller="Assignment" asp-action="MyTrips">My trips</a></li>
                <li><a href="#">Calendar</a></li>
                <li><a href="#">Messages</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-12 newsfeed">
            <h2>Newsfeed</h2>
            <p>Feed feed feed. Reported.</p>
        </div>
    </div>
</div>

