@{
    ViewData["Title"] = "Home";
}

<div class="h-full d-flex flex-column justify-content-between">
    <div class="row">
        <div class="col-12">
            <ul class="home-nav">
                <li><a href="#">Ledige ture</a></li>
                <li><a asp-area="" asp-controller="Assignment" asp-action="MyTrips">Mine ture</a></li>
                <li><a asp-controller="Home" asp-action="Calendar">Rådighedskalender</a></li>
                <li><a asp-controller="UserMessage" asp-action="Index">Beskeder</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-12 newsfeed">
            <h2>Newsfeed</h2>
            <p>Kommende nyheder her</p>
        </div>
    </div>
</div>

