@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Login";
}

<div class="login-bg-wrapper h-full w-full">
    <div class="login-bg">
    </div>

    <div class="row mb-1" style="z-index: 10;">
        <div class="col-12">
            <div class="d-block">
                <div class="logo">
                    <img src="https://www.alex-andersen.dk/cdn/assets/aalogo-square.db4301db.png" alt="Logo" />
                </div>
            </div>
        </div>
    </div>

    <div class="vertical-spacing mt-2">
        <div class="row">
            <div class="col-9 mx-auto">
                <form class="mt-5">
                    <div class="form-group">
                        <label for="loginEmail" class="font-weight-bold">Email</label>
                        <input type="email" class="form-control box-shadow" id="loginEmail" placeholder="Indtast email">
                    </div>

                    <div class="form-group">
                        <label for="loginPassword" class="font-weight-bold">Adgangskode</label>
                        <input type="password" class="form-control box-shadow" id="loginPassword" placeholder="Indtast adgangskode">
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-success w-100 mt-3">Log ind</button>
                    </div>

                    <div class="form-group">
                        <span>Ikke registreret? <a href="#" class="sign-up-link">Anmod om bruger</a></span>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-9 mx-auto">
                <div class="login-footer">
                    <a href="#" class="w-100 btn btn-success">Hjælp</a>
                </div>
            </div>
        </div>
    </div>
</div>
