@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Register";
}
<link rel="stylesheet" href="~/css/site.css" />

<div class="container pt-3">
    
    <div class="d-flex justify-content-between">
        <a href="#">
            <img src="~/img/backArrow.svg" />
        </a>

        <div>
            <a href="#">
                <img src="~/img/logo.svg" />
            </a>
        </div>
    </div>
</div>  

