@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Din Profil";
}

<link href="~/css/userProfile.css" rel="stylesheet" />

<section>
    <div class="header text-center text-white">
        <h1>test</h1>
        <p>lorem ipsum</p>
    </div>
</section>