@model IEnumerable<webdev_semester_1.Models.Message>

@{
    ViewData["Title"] = "Index";
}

<h1>Beskeder</h1>

<ul>
    @foreach (var message in Model)
    {
    <li class="message">
        <div class="message-header">@message.MessageText</div>
        <div class="message-body">@message.MessageText</div>
    </li>
        
    }
</ul>