@model webdev_semester_1.ViewModels.UserMessageVM

@{
    ViewData["Title"] = "Message";
    Layout = "_SubSubpageLayout";
}

<p class="text-black-50">Fra:</p>
<p>@Model.FirstName @Model.LastName</p>

<p class="text-black-50">Besked:</p>
<p>@Model.MessageText</p>

<form asp-action="Delete" method="POST" class="mt-4" style="text-align: right;">
    <input type="hidden" name="id" value="@Model.MessageId" />
    <button type="submit" class="btn btn-danger" onclick="return confirm('Er du sikker på du vil slette denne besked?');">Slet</button>
</form>